<%- include('../partials/user/header') %>
<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('images/bg-01.jpg');">
    <h2 class="ltext-105 cl0 txt-center">
        About
    </h2>
</section>	


<!-- Content page -->
<section class="bg0 p-t-75 p-b-120">
    <div class="container">
        <div class="row p-b-148">
            <div class="col-md-7 col-lg-8">
                <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Our Story
                    </h3>

                    <p class="stext-113 cl6 p-b-26">
                        &emsp; &emsp;  Welcome to COZA Fashion Store, where style meets legacy! Established on March 28, 2001, our journey began on a significant note – the birthday of our founder, Salmanul Faris. Back then, the reins were held by Salmanul's father, marking the inception of a fashion legacy that has stood the test of time.

As we fast forward to the present, Salmanul Faris has taken the helm, steering COZA Fashion Store into a new era of elegance and trendsetting fashion. Our roots are deep, and our commitment to providing the best in fashion remains unwavering.

At COZA Fashion Store, we specialize in catering to the fashion needs of both gentlemen and ladies. Our curated collection reflects the epitome of style, offering a diverse range of clothing that caters to every taste and occasion. From the latest trends to timeless classics, we take pride in being recognized as one of the premier fashion destinations in India.

What sets us apart is not just our commitment to staying ahead of the fashion curve, but the rich history that fuels our passion for clothing. Every piece in our store tells a story, connecting the past with the present and envisioning a stylish future.

As we continue to evolve, our dedication to quality, craftsmanship, and customer satisfaction remains at the forefront. COZA Fashion Store is not just a store; it's a narrative of fashion, family, and a journey that started on a special day in 2001.

Join us in celebrating the art of dressing well, as we invite you to be a part of the COZA Fashion Store story. Experience the blend of tradition and trend, where every garment is a testament to our commitment to timeless style. Welcome to a world where fashion is not just about what you wear; it's about expressing who you are.
                    </p>
                </div>
            </div>

            <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
                <div class="how-bor1 ">
                    <div class="hov-img0">
                        <img src="images/about-01.jpg" alt="IMG">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="order-md-2 col-md-7 col-lg-8 p-b-30">
                <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Our Mission
                    </h3>

                    <p class="stext-113 cl6 p-b-26">
                        &emsp; &emsp; At COZA FASHION STORE, our mission is to be more than just an online shopping destination; we aspire to be a catalyst for self-expression and confidence through fashion. We believe that every individual deserves to embrace their unique style journey, finding joy in the process of curating a wardrobe that reflects their personality. With a commitment to inclusivity and diversity, we offer a carefully curated selection of men's and women's dresses that celebrate the rich tapestry of styles within our global community
                    </p>
                    <p class="stext-113 cl6 p-b-26">
                        &emsp; COZA FASHION STORE invites you to join us in the exploration of style, individuality, and confidence. Our mission is to empower you to express yourself through fashion, offering a diverse and inclusive range of dresses that cater to your unique tastes. Thank you for being a part of our journey to redefine fashion as a celebration of diversity, confidence, and individuality.
                    </p>
                </div>
            </div>

            <div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
                <div class="how-bor2">
                    <div class="hov-img0">
                        <img src="images/about-02.jpg" alt="IMG">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>	
<%- include('../partials/user/footer') %>